.why-me{
    background-color: #232323;
    color: #ffffff;
    margin: 10px 0;
}

.why-me .title{
    text-align: center;
    padding: 10px 0;
}

.why-me .reasons{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.why-me .reason{
    margin: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 15px 3px #9633af;
}

.reason .reason-img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}

.reason .reason-text{
    height: 50px;
}

.about-company{
    padding: 50px 0;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.about-company .title{
    font-size: 30px;
    text-align: center;
    color: #9633af;
    margin-bottom: 20px;
}

.about-company .info{
    display: flex;
    justify-content: space-around;
    height: 400px;
}

.about-company .img{
    height: 400px;
}

.about-company .text{
    width: 400px;
}

.about-company .paragraph{
    margin-top: 20px;
    font-size: 16px;
}

.map{
    padding: 10px 0;
    text-align: center;
    background-color: #9633af;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .why-me .reason{
        width: 25%;
    }

    .reason .reason-img{
        max-width: 100px;
        width: 70%;
        height: auto;
    }

    .reason .reason-text{
        font-size: 12px;
    }

    .about-company{
        width: 90%;
    }

    .about-company .info{
        height: auto;
        .text{
            width: 100%;
        }
    }

    .about-company img{
        display: none;
    }
}

@media screen and (max-width: 500px) {

    .reasons{
        flex-direction: column;
    }

    .why-me .reason{
        width: 70%;
    }

    .reason .reason-text{
        font-size: 14px;
    }

    .about-company{
        padding: 24px 0;
        .title{
            font-size: 24px;
            margin: 0;
        }
        .paragraph{
            font-size: 14px;
        }
    }

}